@font-face {
  font-family: 'iconfont';
  src: url('./download/font_2266965_ne477rax5hq/iconfont.eot');
  src: url('./download/font_2266965_ne477rax5hq/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./download/font_2266965_ne477rax5hq/iconfont.woff2') format('woff2'),
      url('./download/font_2266965_ne477rax5hq/iconfont.woff') format('woff'),
      url('./download/font_2266965_ne477rax5hq/iconfont.ttf') format('truetype'),
      url('./download/font_2266965_ne477rax5hq/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .9rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ::after{
  content: '\e625';
}
.icon-youxiang::after{
  content: '\e6be';
}
.icon-vx::after{
  content: '\e60b';
}
.icon-gongzuo::after{
  content: '\e617'
}
.icon-xuexi::after{
  content:'\e62d'
}